@import url('https://fonts.googleapis.com/css2?family=Geist:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-on-primary: #ffffff;

  --color-background: #fcf8fa;
  --color-surface: #fcf8fa;
  --color-surface-container: #f0edef;
  --color-surface-container-low: #f6f3f5;
  --color-surface-container-high: #eae7e9;
  --color-surface-container-highest: #e4e2e4;
  --color-surface-container-lowest: #ffffff;

  --color-secondary: #505f76;
  --color-on-surface: #1b1b1d;
  --color-on-surface-variant: #45464d;

  --color-outline: #76777d;
  --color-outline-variant: #c6c6cd;

  --color-error: #ba1a1a;

  --font-body: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;

  --spacing-sidebar: 260px;
  --spacing-gutter: 24px;

  --radius-default: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
}