@import url('https://fonts.googleapis.com/css2?family=Geist:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-on-primary: #ffffff;

  --color-background: #f8fafc;
  --color-surface: #ffffff;

  --color-surface-low: #f8fafc;
  --color-surface-container: #f1f5f9;
  --color-surface-high: #e2e8f0;

  --color-secondary: #475569;
  --color-on-surface: #0f172a;
  --color-on-surface-variant: #64748b;

  --color-outline: #94a3b8;
  --color-outline-variant: #e2e8f0;

  --color-success: #15803d;
  --color-warning: #b45309;
  --color-error: #b91c1c;

  --font-sans: "Geist", sans-serif;

  --spacing-sidebar: 260px;
  --spacing-gutter: 24px;

  --radius-sm: 4px;
  --radius-md: 8px;
}